<p id="notice"><%= notice %></p>

<p>
  <strong>title:</strong>
  <%= @challenge. title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @challenge.image_url %>
</p>

<%= link_to 'Zurück', challengestore_path %>
