<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="row small-up-1 medium-up-2 large-up-3">
    <% @challenges.each do |challenge| %>
        <div class="column">
          <%= link_to(challengestore_challenge_detail_path(foo: challenge), :anchor => 'content_box') do %>
            <div class="content_box">
              <div class="content_box_image"  style="background: url(/assets/<%= challenge.image_url %>)">
                <div class="content_box_title_background">
                  <h5 class="content_box_title"><%= challenge.title %></h5>
                </div>
              </div>
              <%= challenge.description %>
              <br/>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
