<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="row small-up-1 medium-up-2 large-up-3">
    <% @challenges.each do |challenge| %>
        <div class="column">
          <div class="content_box">
            <div class="content_box_image"  style="background: url(/assets/<%= challenge.image_url %>)">
            </div>
            <div class="content_box_title">
              <h5 class="subheader"><%= challenge.title %></h5>
            </div>
            <%= challenge.description %><br/>
            <%= link_to "Anschauen",controller: "challengestore_controller", action: "show", id: @challenge, :class => "button" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
